a {
    text-decoration: none;
    color: #3939FC;
}

body {
    font-family: sans-serif;
}

.spacer {
    display: inline;
    min-width: 20px;
    width: 20px;
    max-width: 20px;
}

.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    background-color: #fff;
    border-left: 5px solid #CFCECE;
    border-bottom: 1px solid #CFCECE;
    border-right: 1px solid #CFCECE;
    font-family: sans-serif;
}

.tt-suggestion {
    padding: 0 10px;
}

.tt-suggestion.tt-cursor {
    background-color: #FCFFD5;
    cursor: pointer;
}

tr:hover td .actions {
    visibility: visible;
}

tr td .actions {
    visibility: hidden;
}

/*table.flights-table {
    border: 1px solid #333;
    border-collapse: collapse;
}

.flights-table thead tr {

}

.flights-table td, .flights-table th {
    border: 1px solid #333;
    text-align: center;
}

.flights-table tr:nth-child(odd) {

}

.flights-table tr:nth-child(even) {

}*/