<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="/httpjava.sun.com/xml/ns/javaee"
         xmlns:xsi="/httpwww.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="/httpjava.sun.com/xml/ns/javaee
            /httpjava.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>bionic university coursework</display-name>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <!--<context-param>-->
    <!--<param-name>javax.faces.PROJECT_STAGE</param-name>-->
    <!--<param-value>Production</param-value>-->
    <!--</context-param>-->
</web-app>